/* CSS Document */

.tit{
	height:	109.5px;
	width:799px;
	text-align:center;
	padding-top:80px;
}

.idiomas{
	height: 179.5px;
	width:249px;
	float:left;	
	padding-left:50px;
	padding-top:20px;
}

.foto{
	padding-left:20px;
	padding-top:20px;
	height: 179.5px;
	width:480px;
	float:left;
	
}

.txtcon{
	height: 179.5px;
	width:779px;
	padding-left:20px;
	padding-top:20px;
	float:left;
}

.direccion{
	height: 179.5px;
	width:779px;
	padding-left:20px;
	padding-top:20px;
	float:left;
}